/* Palette */
:root{
--rich-black-1: #001011ff;
--rich-black-2: #093a3eff;
--verdigris: #3aafb9ff;
--electric-blue: #64e9eeff;
--pale-cerulean: #97c8ebff;
}

/* Reset */
* {
    margin:0;
    padding:0;}

body{
    height:100vh;
    color:var(--pale-cerulean);
    font-family: 'Libre Franklin', sans-serif;
    
}

/* Main Layout */
#container{
    display:flex;
    flex-flow:column wrap;
    margin-top:3rem;
    align-items:center;
}

#header{
    margin-top:3rem;
    text-align:center;
    font-size:1.5rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight:100;
}

/* Grid + Controls Styling */

#game-content{
    display:flex;
    justify-content:center;
    align-items:center;
}
#controls{
    width:10vw;
    height:30vw;
    margin-right:3rem;
    border:1px solid var(--pale-cerulean);
    border-radius:0.5rem;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    font-family:arial;
}

#controls h3{
    
    font-weight:800;
    margin-top:0.5rem;
}

.control-group{
    margin-top:1rem;
    display:flex;
    flex-flow:column wrap;
    align-items:stretch;
}
.control-group > *{
    margin:0.2rem 0;
}

/* Grid Styling */

#grid {
    width:30vw;
    height:30vw;
    display:grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);

}

.grid-cell{
    display:grid;
    border-top:1px solid var(--pale-cerulean);
    border-left: 1px solid var(--pale-cerulean);
}

#width-slider, .button, #color-picker{
    background-color:white;
    border:1px solid var(--pale-cerulean);
    color:var(--pale-cerulean);
}

.button{
    padding:0.3rem 0.5rem;
}

.button:hover{
    background-color:var(--pale-cerulean);
    color:white;
    transition:0.2s linear;
}